body {
	font-family: "Helvetica Neue", "Lucida Grande", Verdana, sans-serif;
	background: #FFF;
	color: #000;
	margin: 0px;
	font-size: 13px;
	line-height: 1.3em;
	overflow-y: scroll;
}

a {
	color: #326EA1;
	text-decoration: underline;
	padding: 1px 2px !important;

	-webkit-transition: background-color 0.15s;
	-webkit-transition: color 0.15s;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

a:hover {
	color: #fff;
	background-color: #333;
	text-decoration: none;
}

p {
	margin: 1em 0;
}

h1 {
	font-size: 2.1em;
	font-weight: normal;
	line-height: 1.2em;
	margin: 1.4em 0 0.7em 0;
}

h2 {
	font-size: 1.6em;
	margin: 1.8em 0 0.8em 0;
	font-weight: normal;
	line-height: 1.2em;
}

/*
h3 {
	font-size: 1.4em;
	color: #555;
	margin: 1.4em 0 0.7em 0;
	font-weight: normal;
}
*/

h4 {
	margin: 1.4em 0 0.5em 0;
	font-size: 1em;
}

h5 {
	margin: 2.0em 0 0.5em 0;
	font-size: 0.98em;
}

#disqus_thread h3 {
	margin: 1.4em 0 0.5em 0;
}

.clear {
	clear: both;
	width: 0;
	height: 0;
}

dt {
	margin-bottom: 0.3em;
	font-weight: bold;
}

dd {
	margin-left: 2em;
	margin-bottom: 1em;
}

dd p {
	margin-top: 0.6em;
}

li {
	margin: 0 0 0.5em 2em;
}

ul li {
	list-style: disc;
}

ol li {
	list-style: decimal;
}

.banner {
	background: #EDF3FE;
	border-bottom: 1px solid #ccc;
	padding: 1em 2em 0.5em 2em;
}

.banner h1 {
	font-size: 1.8em;
	margin: 0;
}

.banner h1 .title {
	font-weight: 500;
}

.banner .type {
	display: block;
}

.parent,
.banner .type {
	color: #666;
}

.banner .parent {
	font-size: 0.8em;
}

.banner p {
	margin: 0.3em 0;
}

.banner ul {
	margin-top: 0.3em;
	margin-bottom: 0;
	font-size: 0.85em;
}

.banner li {
	list-style: none;
	margin-left: 0;
	margin-bottom: 0;
}

code, tt {
	font: 1em/1.3em "Consolas", "Bitstream Vera Sans Mono", Monaco, monospace;
	background-color: #eef;
	color: #000080;
	padding: 0 2px;
	white-space: nowrap;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

pre {
	margin-bottom: 1em;
	font-family: "Consolas", "Bitstream Vera Sans Mono", Monaco, monospace;
}

.methods dt {
	width: 1em;
	font-size: 1.5em;
	color: #AAA;
	position: absolute;
	font-weight: normal;
	margin: 0;
}

.methods dd {
	margin-left: 2.5em;
	min-height: 1.8em;
	-height: 1.8em;
	padding-bottom: 0.8em;
}


.methods ul li {
	margin-right: 0.7em;
	margin-left: 0;
	list-style: none;
	display: inline;
}

#content {
	margin: 2em;
	margin-left: 3.5em;
	margin-right: 3.5em;
}

#content h1 {
	display: none;
}

.sectiontitle {
	margin-top: 2em;
	margin-bottom: 1.3em;
	margin-left: -1.2em;
	font-size: 1.2em;
	padding: 0 0 0.25em 0;
	font-weight: bold;
	border-bottom: 1px solid #000;
}

.attr-rw {
	padding-right: 1em;
	text-align: center;
	color: #055;
}

.attr-name {
	font-weight: bold;
	padding-right: 1em;
}

.attr-desc {}

tt {
	font-size: 1em;
}

.attr-value {
	font-family: monospace;
	padding-left: 1em;
	font-size: 1.15em;
}

.dyn-source {
	display: none;
	background: #fffde8;
	color: #000;
	border: #ffe0bb dotted 1px;
	margin: 0.5em 2em 0.5em 0;
	padding: 0.5em;
}

.dyn-source .cmt {
	color: #00F;
	font-style: italic;
}

.dyn-source .kw {
	color: #070;
	font-weight: bold;
}

.description pre {
	padding: 0.5em;
	border: #ffe0bb dotted 1px;
	background: #fffde8;
}

.method {
	margin-bottom: 2em;
}

.method .description,
.method .sourcecode {
	margin-left: 1.2em;
}

.method h2 {
	padding: 0 0 0.15em 0;
	margin: 1em 0 0.5em 0;
	font-size: 1.4em;
	line-height: 1.25em;

	color: #fff;
	background-color: #333;
	padding: 2px 5px;
	display: inline-block;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.method h3 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-weight: 500;
}

.method h3,
.method .title {
	border-bottom: 1px dotted #666;
	padding: 0 0 0.15em 0;
	margin: 0 0 0.5em 0;
	font-size: 1.2em;
	line-height: 1.25em;
}

.method h4 {
	border-bottom: 1px dotted #999;
	padding: 0 0 0.2em 0;
	margin-bottom: 0.8em;
	font-size: 1.1em;
	color: #333;
}

.method .sourcecode p.source-link {
	text-indent: 0em;
	margin-top: 0.5em;
}

.method .aka {
	margin-top: 0.3em;
	margin-left: 1em;
	font-style: italic;
	text-indent: 2em;
}

.method .source-link {
	font-size: 0.85em;
}

.method .source {
	padding: 0;
}

.method .parameterValue {
	color: #666;
	font-style: italic;
}

.method ul.parameterList p {
	display: inline;
	padding: 0;
}

.hide {
	display: none;
}

#commentWrapper { width: 50%; }

#dsq-content a { background-color: transparent !important; }
#dsq-content a:hover { background-color: #333 !important; }

#dsq-content li.dsq-login-button,
#dsq-content div.dsq-request-user-info a {
	display: inline-block;
}

#dsq-content li.dsq-login-button a,
#dsq-content li.dsq-login-button a img {
	display: block;
}
